.customers {
    width: 100%;
    height: 100%;
    padding: 220px 200px;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
        padding: 120px 70px;
    }

    @media screen and (max-width: 850px) {
        padding: 120px 40px;
        transform: translateY(120px);
    }

    @media screen and (max-width: 750px) {
        flex-direction: column-reverse;
    }

    @media screen and (max-width: 430px) {
        padding: 100px 25px;
    }

    &__left {
        width: 40%;
        min-width: 310px;

        @media screen and (max-width: 850px) {
            width: 45%;
        }

        @media screen and (max-width: 750px) {
            width: 100%;
            margin-top: 80px;
        }

        &-title {
            font-size: 32px;
            margin-bottom: 25px;
            color: $primary-color;
        }

        &-desc {
            line-height: 1.7;
            margin-bottom: 35px;
        }

        &-link {
            text-decoration: none;
            color: $primary-color;
            font-weight: 700;

            span {
                margin-left: 10px;
            }
        }
    }

    &__right {
        width: 40%;

        @media screen and (max-width: 850px) {
            width: 45%;
        }

        @media screen and (max-width: 750px) {
            width: 100%;
        }

        &-box {
            margin-top: 50px;
            position: relative;
            padding: 35px;
            background-color: #FEFEFE;
            min-width: 330px;
            //perspective: 800px;

            @media screen and (max-width: 430px) {
                min-width: 270px;
                padding: 25px;
            }

            
            &:before {
                content: attr(data-current);
                color: rgba(0, 0, 0, .7);
                position: absolute;
                top: -40px;
                left: 0;
            }

            .larr, .rarr {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 50px;
                height: 50px;
                width: 50px;
                top: -50px;
                background-color: #FEFEFE;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    background-color: rgba(255, 255, 255, .3);
                }

                .arrow {
                    color: rgba(0, 0, 0, .7);
                }

                & > * {
                    font-size: 25px;
                }
            }

            .rarr {
                right: 0;

                .arrow {
                    color: #000;
                }
            }

            &-top {
                display: flex;
                width: 100%;
                margin-bottom: 30px;
                justify-content: space-between;

                .star {
                    color: $primary-color;

                    @media screen and (max-width: 430px) {
                        font-size: 14px;
                    }
                }

                .star:not(:last-child) {
                    margin-right: 5px;
                }

                .date {
                    font-size: 14px;
                    color: rgba(0, 0, 0, .5);
                }
            }

            blockquote {
                font-size: 22px;
                margin-bottom: 40px;

                @media screen and (max-width: 430px) {
                    font-size: 18px;
                }
            }

            cite {
                font-style: normal;
                display: block;
                margin-bottom: 15px;
            }

            .desc {
                font-size: 13px;
                color: rgba(0, 0, 0, .4);
            }

        }
    }
}

@keyframes orientate {
    0% {
        transform: rotateY(0deg) translateX(0);
    }

    50%, 70% {
        transform: translateX(-50%) rotateY(-90deg);
    }
    
    to {
        transform: translateX(-50%) rotateY(-90deg);
    }
}

@keyframes jump {
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.15);
    }
}

.jumpanimate {
    animation: jump .4s ease-in-out 0s 2 alternate;
}